<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <input type="text" autocomplete="off" name="username" placeholder="Username:">
  <input type="text" autocomplete="off" name="email" placeholder="Email:">
  <input type="password" autocomplete="off" name="password" placeholder="Password:">
  <input type="submit" value="Sign Up">
</form>