<h1>Login to Projects Track!</h1>
<form method="post" action="/login">
  <input type="text" autocomplete="off" name="username" placeholder="Username:">
  <input type="text" autocomplete="off" name="password" placeholder="Password:">
  <input type="submit" value="submit">
</form>