<% if @message %>
<div class="alert alert-info">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <%= @message %>
</div>
<% end %>




<h2>Add a project</h2>
<form action="/projects" method="POST">
  <p>Project name: <input type="text" name="name"></p>
  <p>Content: <input type="text" name="content"></p>
  <p>Completion date: <input type="text" name="completion"></p>
  





  <p>Attempts needed to complete:</p>
  <% Result.all.each do |result| %>

    <input type="radio" name="result" id="<%= result.id %>" value="<%= result.info %>">
    
    <%= result.info %>
    </input><br>
  <% end %>
  
  
  
  <input type="submit" class="button" value="submit">
</form>  
  