<% if @message %>
<div class="alert alert-info">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <%= @message %>
</div>
<% end %>




<h2>Create a new project:</h2>
<br>
<form action="/projects" method="POST">
  <p>Project name: <input type="text" name="name" style="width:210px"></p>
  <p>Content:</p>
  <textarea name="content" id="content" cols="40" rows="5"></textarea>
  <p>Completion date: <input type="text" name="completion" style="width:190px"></p>
  
  <p>Attempts needed to complete:</p>
  <% Result.all.each do |result| %>

    <input type="radio" name="result" id="<%= result.id %>" value="<%= result.info %>">
    
    <%= result.info %>
    </input><br>
  <% end %>
  
  
  
  <input type="submit" class="button" value="submit">
</form>  
  