<h2> Edit Project </h2>

<form method="post" action="/projects/<%=@project.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="name" value="<%= @project.name %>">
  <input type="text" name="content" value="<%= @project.content %>">
  <input type="text" name="completion" value="<%= @project.completion %>">
  <input type="submit" value="submit">
</form>