<h1>Welcome, <%= current_user.username %></h1>
<br><br>
<h2>These are all the Projects:</h2>
<br>
<% @projects.each do |project| %>
    <h3><%= project.name %></h3>
    <h3><%= project.content %></h3>
    <h3><%= project.completion %></h3>

    <hr>
<% end %>