<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-image: url("/flatiron-school_owler_20190708_043239_original.png");
      background-repeat: no-repeat;
      background-position: 0% 0%;
    }
  </style>
</head>
  <body>
<h1>Welcome to Projects Track!</h1>
<br><br><br><br><br><br><br><br><br>

<h3>Menu</h3>
<ul>
  <li><a href="/signup">Sign Up</a></li>
  <li><a href="/login">Log In</a></li>
</ul>
  </body>
</html>