<!doctype html>
<html>
  <head>
    <title>Projects Track</title>
  </head>
  <body>

    <% if logged_in? %>

                <a href="/tweets">Projects Track</a>
                    <ul>
                        <li><a href="/tweets/tweets">All Tweets</a></li>
                        <li><a href="/users/<%= current_user.id %>">My Tweets</a></li>
                        <li><a href="/tweets/new">Create New Tweet</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
    <%end %>

    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
