<!doctype html>
<html>
  <head>
    <title>Projects Track</title>
  </head>
  <body>

    <% if logged_in? %>

                <a href="/projects">Projects Track Homepage</a>
                    <ul>
                        <li><a href="/users/<%= current_user.slug %>">My Projects</a></li>
                        <li><a href="/projects/new">Create New Project</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
    <%end %>

    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
